.btn {
    text-transform: uppercase;
    border-radius: 2rem;
    font-family: $roboto;
    letter-spacing: 1px;
    padding: 1rem 3rem;
    font-size: 12px;
    @include bp(desktop) {
        padding: 1rem 2.75rem;
        font-size: 14px;
        letter-spacing: 1.5px;
    }
}

.btn--primary {
    background: $orange;
    color: $white;
}

.btn--full-width {
    width: 100%;
}

button {
    border: none;
    background: none;
    &:hover {
        @include bp(desktop) {
            cursor: pointer;
        }
    }
    &:focus {
        outline: none;
        @include bp(desktop) {
            outline: 1px solid $orange;
            outline-offset: 4px;
        }
    }
}