h1 {
    font-size: 24px;
    @include bp(tablet) {
        font-size: 34px;
    }
    @include bp(desktop) {
        font-size: 39px;
    }
    font-family: $roboto;
    font-weight: 400;
    margin-bottom: 1.75rem;
}

h3 {
    font-size: 20px;
    margin-bottom: 1.75rem;
    @include bp(tablet) {
        font-size: 25px;
    }
    @include bp(desktop) {
        font-size: 30px;
    }
    font-family: $opensans;
}

.paragraph {
    font-size: 14px;
    font-family: $roboto;
    font-weight: 300;
    line-height: 1.35rem;
    @include bp(desktop) {
        font-size: 16px;
    }
}

.paragraph--main {
    color: $grey100;
}

.paragraph--large {
    font-size: 15px;
        @include bp(desktop) {
            font-size: 18px;
            line-height: 1.5rem;
        }
}

.paragraph--large-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
    @include bp(desktop) {
        font-size: 20px;
    }
}

.paragraph--bold {
    font-weight: 400;
}

.paragraph--caps {
    text-transform: uppercase;
    font-weight: 400;
}

.paragraph--underline {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $black;
        height: 2px;
    }
    @include bp(desktop) {
        font-size: 14px;
    }
}

.paragraph--underline--grey {
    font-size: 10px;
    color: $grey200;
    text-underline-offset: 3px;
    &::after {
        background: $grey200;
        height: 2px;
    }
    @include bp(desktop) {
        font-size: 12px;
        text-underline-offset: 5px;
    }
}