//Colours
$offWhite: #EBF6F8;
$orange: #FF5C00;
$grey: #EBEBEB;
$grey100: #a3a2a2;
$grey200: #C6C6C6;
$black: #000000;
$white: #FFFFFF;

//Media queries break ponts
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopLg: 1440px;


//Fonts
$roboto: "Roboto", sans-serif;
$opensans: "Open Sans", sans-serif;